{% load static %}
<script src="https://js.stripe.com/v3/"></script>
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}My Site{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'orders/styles.css' %}">
</head>
<body>
    <header>
        <nav>
            {% if user.is_authenticated %}
                <a href="{% url 'user_profile' %}">Profile</a>
                <a href="{% url 'account_logout' %}">Logout</a>
            {% else %}
                <a href="{% url 'account_login' %}">Login</a>
                <a href="{% url 'account_signup' %}">Sign Up</a>
            {% endif %}
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>
