{% extends 'base_generic.html' %}

{% block content %}
<h2>Order Confirmation</h2>
<p>Your order with ID {{ order.id }} has been successfully placed. Thank you for shopping with us!</p>
<p>Restaurant: {{ order.restaurant.name }}</p>
<p>Total Amount: ${{ order.total_amount }}</p>

<h3>Items Ordered</h3>
<ul>
    {% for item in order.order_items.all %}
        <li>
            {{ item.menu_item.name }} - {{ item.quantity }} x ${{ item.menu_item.price }} = ${{ item.item_total }}
        </li>
    {% endfor %}
</ul>
<a href="{% url 'restaurant_list' %}">Back to Restaurant List</a>
{% endblock %}

